<ion-view view-title="投资">
  <ion-content has-header="true">
    <ion-list type="card" show-delete="false" show-reorder="false" can-swipe="false">
      <div ng-repeat="item in vm.data">
        <ion-item class="item-avatar-left">
          <img src="./img/borrowmark/mark1.png" alt="项目评级">
          <div >
            <h2>{{item.title}}</h2>
            <p>{{item.number}}</p>
          </div>
        </ion-item>
        <ion-item class="item-body">
          <div class="row row-wrap no-padding">
            <div class="col col-25 col-center">
              {{item.ripe}}%
            </div>
            <div class="col col-75">
              <div class="row row-wrap">
                <div class="col col-90">剩余:{{item.low}}</div>
                <div class="col col-90">
                  <div class="card-process">
                    <div class="progress" borrow="1000000" remainder="30000"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col no-padding">
              <div class="row no-padding">
                <div class="col col-33 text-center no-padding">
                  <h6>title</h6>
                  <p>25</p>
                </div>
                <div class="col col-33 text-center no-padding">
                  <h6>title</h6>
                  <p>25</p>
                </div>
                <div class="col col-33 text-center no-padding">
                  <h6>title</h6>
                  <p>25</p>
                </div>
              </div>
            </div>
          </div>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
