<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-side-menus>
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable bar-positive" align-title="center">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear icon" ng-class="{true:'ion-navicon',false:'ion-ios-arrow-thin-right'}[vm.toggleMenu]" ng-click="vm.toggleMenu=!vm.toggleMenu"  menu-toggle="right"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-tabs class="tabs-icon-top tabs-positive tabs-striped">
      <!-- Dashboard Tab -->
      <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
      </ion-tab>

      <!-- Chats Tab -->
      <ion-tab title="投资" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/list">
        <ion-nav-view name="tab-list"></ion-nav-view>
      </ion-tab>

      <!-- Account Tab -->
      <ion-tab title="账户" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
      </ion-tab>
    </ion-tabs>

  </ion-side-menu-content>
  <ion-side-menu side="right" width="200">
    <ion-scroll>
      <div direction="y" overflow-scroll="true">
        <div ng-if="user.on == false">
          <ion-item class="slide_effect wave no-margin" ng-repeat="item in vm.names|filter:{'userStruts':true}" ng-click="vm.logUp($index)">
            <i class="icon ion-{{item.name}}"></i>
            <span>{{item.label}}</span>
            <span class="sub">{{item.sub}}</span>
          </ion-item>
        </div>
        <div ng-if="user.on == true">
          <ion-item class="slide-effect wave no-margin" ng-repeat="item in vm.names|filter:{'userStruts':false}" ng-click="vm.logout()">
            <i class="icon ion-{{item.name}}"></i>
            <span>{{item.label}}</span>
            <span class="sub">{{item.sub}}</span>
          </ion-item>
        </div>
      </div>
    </ion-scroll>
  </ion-side-menu>
</ion-side-menus>

