// Ionic overwrites
ion-scroll{height:100vh;}
.loading.visible {opacity: 1;}
.scroll-bar-indicator{display: none;}
.menu-content{box-shadow: none !important;}

// Easy Ionic Menu Animations

.menu-content.menu-animated {
  transition: transform 300ms cubic-bezier(0.42, 2.12, 0.35, 0.55);
}

.menu-open ion-side-menu .item.slide_effect{
  @for $i from 1 through 20{
    &:nth-of-type(#{$i}) i{
      animation: menu_pop .17s (0s + $i / 20) forwards !important;
    }
    &:nth-of-type(#{$i}) span{
      animation: menu_pop .17s (0.1s + $i / 20) forwards !important;
    }
  }
}

.menu-open ion-side-menu .item.scale_effect{
  @for $i from 1 through 20{
    &:nth-of-type(#{$i}){
      animation: menu_scale .3s (0s + $i / 16) cubic-bezier(0.42, 2.12, 0.35, 0.55) forwards !important;
    }
  }
}

.menu-open ion-side-menu .item.slide_up{
  @for $i from 1 through 20{
    &:nth-of-type(#{$i}){
      animation: slide_up .4s (0s + $i / 16) cubic-bezier(0.07, 0.65, 0, 0.96) forwards !important;
    }
  }
}

.menu-open ion-side-menu .item.wave{
  @for $i from 1 through 20{
    &:nth-of-type(#{$i}){
      animation: wave .8s (0s + $i / 16) cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
    }
  }
}

.menu-open ion-side-menu .item.drop_in{
  @for $i from 1 through 20{
    &:nth-of-type(#{$i}){
      animation: drop_in .5s (0s + $i / 16) cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
    }
  }
}

.menu-open ion-side-menu .item.fade_effect{
  @for $i from 1 through 20{
    &:nth-of-type(#{$i}) i{
      animation: menu_fade .2s (0s + $i / 16) forwards !important;
    }
    &:nth-of-type(#{$i}) span{
      animation: menu_fade .2s (0s + $i / 16) forwards !important;
    }
  }
}

.slide_up{
  top:1000px;

}
.slide_up.item i{
  opacity:1;
}
.slide_up.item span{
  opacity:1;
}
.wave{
  top:1000px;
}
.wave.item i{
  opacity:1;
}
.wave.item span{
  opacity:1;
}

.item.scale_effect{
  transform:scale(0);
  i,span{
    opacity:1;
  }
}
.item.drop_in{
  transform:scale(2);
  opacity:0;
  i,span{
    opacity:1;
  }
}

@keyframes menu_fade{
  from{opacity:0;}
  to{opacity:1;}
}
@keyframes slide_up{
  from{top:1000px;}
  to{top:0px;}
}
@keyframes wave{
  from{top:1000px;}
  to{top:0px;}
}
@keyframes menu_pop{
  from{left:-10px; opacity:0;}
  to{left:0px; opacity:1;}
}
@keyframes menu_scale{
  from{transform:scale(0);}
  to{transform:scale(1);}
}
@keyframes drop_in{
  from{transform:scale(2);}
  to{transform:scale(1);opacity:(1)}
}

/*===============================================

Page Theme - Not part of the Transitions effect

===============================================*/

// Fonts
@import url(https://fonts.googleapis.com/css?family=Nunito:400,700,300);

// Styles
a i{font-size: 40px;margin-right: 13px;}
.mono{}
.rainbow{}
a.download,a.follow{display: inline-block;padding: 16px 30px;background: #41EFB6;color: white;font-weight: 900;font-family: 'nunito';text-decoration: none;border-radius: 4px;margin-right:12px;}
a.follow{padding: 14px 30px;background: none;color: white;border:2px solid white;&:hover{color:#41EFB6;border-color:#41EFB6;}}
// Theme
body{
  .logo{
    color:white;
    font-size:60px;
    margin-top:100px;
    display:block;
  }
  h3{
    font-family: 'Nunito', sans-serif !important;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 900;
    border-bottom: 1px solid rgba(255, 255, 255, 0.09);
    padding-bottom: 10px;
    line-height: 25px;
    margin-bottom: 30px;
  }
  h1{

    font-family: 'Nunito', sans-serif !important;
    color:#38F1CF;
    font-size:30px;
    line-height:25px;
    margin-bottom:30px;
  }
  h2{
    font-family: 'Nunito', sans-serif !important;
    color:white;
    font-size:18px;
    line-height:25px;
    margin-bottom:30px;
  }
}

.pad{
  width:80%;
  margin-left:100px;
  max-width:770px;
}
ion-side-menu{
  .item{padding:30px 15px;border-color: #F4F4F4;
    &:nth-of-type(1) i{
      color:#C856D4;
    }
    &:nth-of-type(2) i{
      color:#729AD0;
    }
    &:nth-of-type(3) i{
      color:#98CEA2;
    }
    &:nth-of-type(4) i{
      color:#E6CC38;
    }
    &:nth-of-type(5) i{
      color:#E29B29;
    }
    &:nth-of-type(6) i{
      color:#DE3B52;
    }
    &:nth-of-type(7) i{
      color:#A97637;
    }
    &:nth-of-type(8) i{
      color:#C856D4;
    }
    &:nth-of-type(9) i{
      color:#729AD0;
    }
    &:nth-of-type(10) i{
      color:#98CEA2;
    }
    &:nth-of-type(11) i{
      color:#E6CC38;
    }
    &:nth-of-type(12) i{
      color:#E29B29;
    }
    &:nth-of-type(13) i{
      color:#DE3B52;
    }
  }
  i{    font-size: 22px;
    padding: 10px;
    top: 28px;
    padding-left: 19px;
    opacity: 0;
    left:0;
    position: absolute;

  }
  span{
    font-family: 'Nunito', sans-serif;
    text-transform:capitalize;
    font-size:14px;position:relative;opacity:0;
    display:inline-block;
    color: #5F5F71;
    float:left;    padding-left:40px;
    font-weight: 600;
  }
  .sub{
    display:block;
    clear:both;
    padding-left:40px;
    font-size:12px;
    color:#B1B1B5;
    float:left;
  }
}
