$bg-color: #38275D;
$planet-color: #5474d7;
$planet-shadow: #425cad;
$planet-detail: #4a66c1;
$planet-detail-shadow: #364b90;
$aura-color: #FFF;
.bg-content{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.planet {
  width: 150px;
  position: relative;
  height: 150px;
  background: $planet-color;
  border-radius: 50%;
  box-shadow: inset 10px -15px 0 $planet-shadow;
  overflow: hidden;
}

.planet-detail {
  width: 30px;
  height: 30px;
  position: absolute;
  background: $planet-detail;
  border-radius: 50%;
  box-shadow: inset -2px 1px 0 $planet-detail-shadow;
  z-index: 999;
  &:nth-child(1) {
    top: 50px;
    left: 50px;
  }
  &:nth-child(2) {
    top: 30px;
    left: 30px;
    width: 10px;
    height: 10px;
    box-shadow: inset -1px 1px 0 $planet-detail-shadow;
  }
  &:nth-child(3) {
    top: 100px;
    left: 40px;
    width: 15px;
    height: 15px;
    box-shadow: inset -1.5px 0.8px 0 $planet-detail-shadow;
  }
  &:nth-child(4) {
    top: 30px;
    left: 95px;
    width: 5px;
    height: 5px;
    box-shadow: inset -1px 0.8px 0 $planet-detail-shadow;
  }
  &:nth-child(5) {
    top: 90px;
    left: 95px;
    width: 20px;
    height: 20px;
    box-shadow: inset -2px 1px 0 $planet-detail-shadow;
  }
  &:nth-child(6) {
    top: 50px;
    left: 105px;
    width: 10px;
    height: 10px;
    box-shadow: inset -2px 1px 0 $planet-detail-shadow;
  }
}

.aura {
  position: absolute;
  height: 200px;
  width: 510px;
  border: 1px solid $aura-color;
  border-radius: 50%;
  top: -112px;
  left: -180px;
  opacity: .7;
}

.aura-out {
  position: absolute;
  height: 20px;
  width: 200px;
  border: 1px solid $aura-color;
  border-radius: 50%;
  top: 50%;
  margin-top: -8px;
  left: 50%;
  margin-left: -100px;
  z-index: -1;
  opacity: .7;
}

.aura-detail {
  top: 50%;
  position: absolute;
  height: 7px;
  width: 7px;
  background: $aura-color;
  border-radius: 50%;
  margin-top: 10px;
  left: 30px;
}
