@import "./value";

.bar-stable{
  button.back-button{
    max-width:100px;
    width:85px;
  }
}
.slider {
  height: 100%;
}
.slider-slide {
  color: #000;
  background-color: #fff;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
ion-slide {
  img{
    height: 200px;
    width: 100%;
  }
}

.item-icon-left{
  ion-spinner{
    float: left;
    margin-left: -3.2em;
    margin-right: 1em;
    margin-top: -0.2em;
  }
}

.spinner {
  svg{
    width: 100%;
    height: 100%;
  }
}

.card{
  margin-bottom: 5% !important;
  overflow: visible;
  @extend .transition;
  .card-process{
    height:6px;
    margin-bottom: 5%;
    background-color: #f3f3f3;
    border-radius: 25px;
    .progress{
      border-radius:25px;
      height: 100%;
      background-color: #2196f3;
      width: 0;
    }
  }
  .item:first-child {
    img{
      border-radius: 50%;
    }
  }
  &:before{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px
    1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px
    rgba(0, 0, 0, 0.2);
  }
}

#profile-info{
  position: absolute;
  width: 96%;
  text-align: center;
  #top{
    background: #2A2B39;
    position: relative;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
    padding-top: 30px;
    .account-logo{
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      &>i{
        font-size: 100px;
        border: 1px solid;
        border-radius: 50%;
        width: 110px;
        height: 110px;
      }
    }
  }
  #info{
  }
  .list{
  }
}

.item-body{
  .bank_logo{
    margin:0 auto;
  }
}
