$color:#fff;
.text-white{
  color:$color;
}
.text-center {
  text-align: center !important;
}
.positive{
  color:#387ef5 !important;
}
.popup-title {
  color: black;
}
.scroll-content>.scroll {
  height: 100%;
}
//126 × 36
.title-center{
  text-align: center !important;
}
ion-list.detail ion-item.item-icon-left{
  padding-left:75px;
}
ion-content{
  background-image: url("../img/bg.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.transition{
  transition: all .5s ease-in-out;
}

.no-margin{
  margin:0 !important;
}
.no-padding{
  padding: 0 !important;
}
