<ion-view title="登陆">
  <ion-content>
    <div class="bg-content">
      <div class="planet">
        <div class="planet-detail"></div>
        <div class="planet-detail"></div>
        <div class="planet-detail"></div>
        <div class="planet-detail"></div>
        <div class="planet-detail"></div>
        <div class="planet-detail"></div>

        <div class="aura"></div>
        <div class="aura-detail"></div>
      </div>
      <div class="aura-out"></div>
    </div>

    <form name="sign_in" ng-submit="vm.signIn(vm.user)">
      <div class="list">
        <label class="item item-input item-floating-label item-icon-right">
          <i class="icon ion-iphone positive"></i>
          <span class="input-label">手机号</span>
          <input type="text" placeholder="用户名" ng-model="vm.user.phone">
        </label>
        <label class="item item-input item-floating-label item-icon-right">
          <i class="icon positive" ng-class="{true:'ion-ios-eye',false:'ion-ios-eye-outline'}[vm.pw.icon]" on-hold="vm.togglePW(vm.pw)" on-release="vm.togglePW(vm.pw)"></i>
          <span class="input-label">密码</span>
          <input type="{{vm.pw.type}}" placeholder="密码" ng-model="vm.user.pw">
        </label>
        <div class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox" ng-model="vm.user.on">
          </label>
          7天内快捷登陆
        </div>
      </div>
      <div class="padding-left padding-right">
        <button type="submit" class="button button-block button-flat button-positive">登陆</button>
      </div>
    </form>

  </ion-content>
</ion-view>
